#!/usr/bin/env python
PACKAGE = "cartographer_ros"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add("tsdf_cut_off_distance",
    double_t,
    0,
    "Cut-Off Distance for TSDF points visualization in RViz",
    5.0,
    0.0,
    10000.0)
gen.add("tsdf_cut_off_height",
    double_t,
    0,
    "Cut-Off Distance for the height above the robot of the TSDF points visualization in RViz",
    5.0,
    0.0,
    10000.0)
gen.add("tsdf_mesh_cut_off_distance",
    double_t,
    0,
    "Cut-Off Distance for TSDF mesh visualization in RViz",
    5.0,
    0.0,
    10000.0)
gen.add("tsdf_mesh_cut_off_height",
    double_t,
    0,
    "Cut-Off Distance for the height above the robot of the TSDF mesh visualization in RViz",
    5.0,
    0.0,
    10000.0)

exit(gen.generate(PACKAGE, "cartographer_ros", "dynamic_parameters"))