<!--
  Copyright 2016 The Cartographer Authors

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->

<launch>

  <!-- Robot Models: -->
  <include file="$(find asterix_description)/launch/load_description.launch"></include>
  <include file="$(find asterix_description)/launch/launch_fake_joint_states.launch"></include>
  <param name="robot_description"
    command="$(find xacro)/xacro $(find asterix_description)/urdf/asterix_ugv.urdf.xacro" />
  <!-- <param name="robot_description" -->
    <!-- command="$(find xacro)/xacro $(find smoke_navigation_module_description)/urdf/smoke_navigation_module.urdf.xacro" /> -->
  <!-- <param name="robot_description" -->
    <!-- command="$(find smoke_navigation_module_description)/urdf/smoke_navigation_module.urdf" /> -->
  <!-- FOR DORTMUND TEST: -->
  <!-- <node pkg="tf2_ros" type="static_transform_publisher" name="static_radar_compensation_2" args="0 0 0 0 0 0 base_link mpr_frame"/> -->

  <node name="robot_state_publisher" pkg="robot_state_publisher"
    type="robot_state_publisher" />

  <node name="cartographer_node" pkg="cartographer_ros"
      type="cartographer_node" args="
          -configuration_directory $(find cartographer_ros)/configuration_files
          -configuration_basename smoke_2d.lua"
      output="screen">

    <!-- Remaps: -->
    <!-- <remap from="/scan" to="/velodyne_points" /> -->
    <remap from="scan" to="/scan_filtered" />
    <!-- <remap from="imu" to="/imu/data" /> -->
    <remap from="imu" to="/imu/xsens/data" />
    <!-- <remap from="scan" to="/lidar/scan" /> -->
    <!-- <remap from="/odom" to="/odom_raw" /> -->
    <remap from="points2" to="/radar_filter/radar_pcl_gnc" />
    
  </node>

  <node name="cartographer_occupancy_grid_node" pkg="cartographer_ros"
      type="cartographer_occupancy_grid_node" args="-resolution 0.05" />
</launch>
